# Experiments

In [8]:
import pickle 
import pandas as pd
from dice_ml.utils import helpers
from prompts import *
from utils import *
from llm_explainers import *

In [13]:
for prompt in ['one','zero']:
    for counterfactuals in [1,3,5]:
        print('--------------------------------')
        print(f'{prompt} with {counterfactuals} cfs')
        print('--------------------------------')
        df = pd.read_csv(f'./experiments/{prompt}/{counterfactuals}_cfs/experiment_{prompt}_{counterfactuals}_cfs.csv')
        prediction, n_rules, rules_followed,in_data, first, second, third, fail = get_metrics(df,prompt,counterfactuals)
        print('Prediction of the generated example: ', prediction)
        print('Number of rules generated: ', n_rules)
        print('Number of rules followed: ', rules_followed)
        print('1st rule followed ', first)
        print('2nd rule followed ', second)
        print('3rd rule followed ', third)
        print('Example exists in data: ', in_data)

--------------------------------
one with 1 cfs
--------------------------------
Prediction of the generated example:  0.7638888888888888
Number of rules generated:  2.9722222222222223
Number of rules followed:  0.7756944444444445
1st rule followed  0.9166666666666666
2nd rule followed  0.75
3rd rule followed  0.7037037037037037
Example exists in data:  0.125
--------------------------------
one with 3 cfs
--------------------------------
Prediction of the generated example:  0.7868852459016393
Number of rules generated:  3.2950819672131146
Number of rules followed:  0.6612021857923497
1st rule followed  0.7868852459016393
2nd rule followed  0.6885245901639344
3rd rule followed  0.6140350877192983
Example exists in data:  0.09836065573770492
--------------------------------
one with 5 cfs
--------------------------------
Prediction of the generated example:  0.79
Number of rules generated:  3.71
Number of rules followed:  0.7703333333333332
1st rule followed  0.9
2nd rule followed  0.88
3rd rule followed  0.6868686868686869
Example exists in data:  0.15
--------------------------------
zero with 1 cfs
--------------------------------
Prediction of the generated example:  0.8556701030927835
Number of rules generated:  2.0309278350515463
Number of rules followed:  0.8596219931271477
1st rule followed  0.9278350515463918
2nd rule followed  0.7912087912087912
3rd rule followed  0.6666666666666666
Example exists in data:  0.21649484536082475
--------------------------------
zero with 3 cfs
--------------------------------
Prediction of the generated example:  0.8787878787878788
Number of rules generated:  3.4696969696969697
Number of rules followed:  0.5315656565656566
1st rule followed  0.6212121212121212
2nd rule followed  0.5606060606060606
3rd rule followed  0.45
Example exists in data:  0.24242424242424243
--------------------------------
zero with 5 cfs
--------------------------------
Prediction of the generated example:  0.93
Number of rules generated:  4.31
Number of rules followed:  0.7531666666666665
1st rule followed  0.95
2nd rule followed  0.71
3rd rule followed  0.7127659574468085
Example exists in data:  0.27

In [16]:
df1=pd.DataFrame()
i=0
for prompt in ['one','zero']:
    for counterfactuals in [1,3,5]:
        df = pd.read_csv(f'./experiments/{prompt}/{counterfactuals}_cfs/experiment_{prompt}_{counterfactuals}_cfs.csv')
        prediction, n_rules, rules_followed,in_data, first, second, third, fail = get_metrics(df,prompt,counterfactuals)
        df1.loc[i,'prompt'] = prompt
        df1.loc[i,'cfs'] = counterfactuals
        df1.loc[i,'validity'] = prediction
        df1.loc[i,'# rules'] = n_rules
        df1.loc[i,'rules followed'] = rules_followed
        df1.loc[i,'first rule'] = first
        df1.loc[i,'second rule'] = second
        df1.loc[i,'third rule'] = third
        df1.loc[i,'in data'] = in_data
        df1.loc[i,'failure'] = fail
        i = i + 1
df1

,prompt,cfs,validity,# rules,rules followed,first rule,second rule,third rule,in data,failure
0,one,1.0,0.763889,2.972222,0.775694,0.916667,0.750000,0.703704,0.125000,0.28
1,one,3.0,0.786885,3.295082,0.661202,0.786885,0.688525,0.614035,0.098361,0.39
2,one,5.0,0.790000,3.710000,0.770333,0.900000,0.880000,0.686869,0.150000,0.00
3,zero,1.0,0.855670,2.030928,0.859622,0.927835,0.791209,0.666667,0.216495,0.03
4,zero,3.0,0.878788,3.469697,0.531566,0.621212,0.560606,0.450000,0.242424,0.34
5,zero,5.0,0.930000,4.310000,0.753167,0.950000,0.710000,0.712766,0.270000,0.00

In [21]:
df1=pd.DataFrame()
i=0
for prompt in ['ToT']:
    for counterfactuals in [5]:
        df = pd.read_csv(f'./experiments/{prompt}/{counterfactuals}_cfs/experiment_{prompt}_{counterfactuals}_cfs.csv')
        prediction, n_rules, rules_followed,in_data, first, second, third, fail = get_metrics(df,prompt,counterfactuals)
        df1.loc[i,'prompt'] = prompt
        df1.loc[i,'cfs'] = counterfactuals
        df1.loc[i,'validity'] = prediction
        df1.loc[i,'# rules'] = n_rules
        df1.loc[i,'rules followed'] = rules_followed
        df1.loc[i,'first rule'] = first
        df1.loc[i,'second rule'] = second
        df1.loc[i,'third rule'] = third
        df1.loc[i,'in data'] = in_data
        df1.loc[i,'failure'] = fail
        i = i + 1
df1

,prompt,cfs,validity,# rules,rules followed,first rule,second rule,third rule,in data,failure
0,ToT,5.0,0.71875,9.697917,0.430239,0.697917,0.583333,0.541667,0.1875,0.04

:

In [3]:
# Load the model we want to explain
with open("""./models/loan_model.pkl""", 'rb') as file:
    model = pickle.load(file)

#Load the train and test data set
train_dataset = pd.read_csv('./data/adult_train_dataset.csv')
test_dataset = pd.read_csv('./data/adult_test_dataset.csv')

#Load the examples we will try to explain
test_df = pd.read_csv('./data/test_examples.csv')
test_df = test_df.drop(columns=['income'], axis = 1)

In [4]:
#create datasets to test
#test100 = test_df.iloc[-100:].reset_index(drop = True)
#test100.to_csv('./data/test100.csv', index = False)

In [13]:
test100 = pd.read_csv('./data/test100.csv')
columns = ['age', 'workclass', 'education', 'marital_status', 'occupation', 'race',
       'gender', 'hours_per_week']
model_description = """ML-system that predicts wether a person will earn more than 50k $ a year"""
for prompt in ['zero']:
    directory = Path(f"./experiments/{prompt}")
    # Create the directory if it does not exist
    directory.mkdir(parents=True, exist_ok=True)
    for cf in [1,3,5]:
        directory = Path(f"./experiments/{prompt}/{cf}_cfs/evals/")
        # Create the directory if it does not exist
        directory.mkdir(parents=True, exist_ok=True)
        directory = Path(f"./experiments/{prompt}/{cf}_cfs/examples/")
        # Create the directory if it does not exist
        directory.mkdir(parents=True, exist_ok=True)
        if prompt == 'ToT':
            exp_m = ToTLLMExplanation4CFs(model = model, #Load the model we want to explain
                                    model_description = """ML-system that predicts wether a person will earn more than 50k $ a year""", # brief explanation of the ML model
                                    backend='sklearn', # Framework used to build the model (used to generate counterfactuals)
                                    dataset_info=string_info(train_dataset.columns, helpers.get_adult_data_info()) , # string information about the dataset
                                    continuous_features=['age', 'hours_per_week'], # Necessary for the counterfactual generation
                                    outcome_name= 'income', #Necessary for counterfactual generation
                                    training_set=train_dataset, #Necessary for counterfactual generation
                                    test_set= test_dataset, #Necessary to  check novelty of the evaluation example
                                    llm='gpt-4o', #LLM used, works with Langchain
                                    prompt_type='one', # zero or one
                                    n_counterfactuals=cf, #Number of counterfactuals used in the explanation 
                                    user_input=False, #Human in the loop helping select the causes
                                    branches = 3
                                )
        else:
            exp_m = LLMExplanation4CFs(model = model, #Load the model we want to explain
                                    model_description = """ML-system that predicts wether a person will earn more than 50k $ a year""", # brief explanation of the ML model
                                    backend='sklearn', # Framework used to build the model (used to generate counterfactuals)
                                    dataset_info=string_info(train_dataset.columns, helpers.get_adult_data_info()) , # string information about the dataset
                                    continuous_features=['age', 'hours_per_week'], # Necessary for the counterfactual generation
                                    outcome_name= 'income', #Necessary for counterfactual generation
                                    training_set=train_dataset, #Necessary for counterfactual generation
                                    test_set= test_dataset, #Necessary to  check novelty of the evaluation example
                                    llm='gpt-4o', #LLM used, works with Langchain
                                    prompt_type=prompt, # zero or one
                                    n_counterfactuals=cf, #Number of counterfactuals used in the explanation 
                                    user_input=False #Human in the loop helping select the causes
                                )



        exp_m.fit()
        for i in range(test100.shape[0]):
        #for i in range(10):
            try:              
                example_label, n_rules, rules_followed, first_rule, second_rule,third_rule, in_dataset = exp_m.explain_evaluate(user_data = pd.DataFrame(test100.loc[i, columns]).transpose(), verbose = False, return_all=False)
                os.rename('./temp_files/temp_csv.csv', f'./experiments/{prompt}/{cf}_cfs/examples/ex_{cf}cfs_{i}.csv')
                os.rename('evaluation.csv', f'./experiments/{prompt}/{cf}_cfs/evals/eval_{cf}cfs_{i}.csv')            
                test100.loc[i, str(cf) + '_cfs_' + prompt + '_label'] = example_label
                test100.loc[i, str(cf) + '_cfs_' +prompt + '_rules'] = n_rules
                test100.loc[i, str(cf) + '_cfs_' +prompt + '_rules_followed'] = rules_followed
                test100.loc[i, str(cf) + '_cfs_' + +prompt + '_rule_1'] = first_rule
                test100.loc[i, str(cf) + '_cfs_' + +prompt + '_rule_2'] = second_rule
                test100.loc[i, str(cf) + '_cfs_' + +prompt + '_rule_3'] = third_rule
                test100.loc[i, str(cf) + '_cfs_' +prompt + '_in_data'] = in_dataset
                test100.loc[i, str(cf) + '_cfs_' +prompt + '_status'] = 0
            except Exception as e:
                print(e)
                test100.loc[i, str(cf) + '_cfs_' +prompt + '_status'] = 1
            if i%10 == 0:
                test100.to_csv('experiments.csv', index=False)
test100.to_csv('experiments.csv', index=False)

100%|██████████| 1/1 [00:00<00:00,  7.42it/s]
100%|██████████| 1/1 [00:00<00:00,  7.56it/s]
100%|██████████| 1/1 [00:00<00:00,  7.02it/s]

FileNotFoundError: [WinError 2] El sistema no puede encontrar el archivo especificado: 'evaluation.csv' -> './experiments/ToT/1_cfs/evals/eval_1cfs_0.csv'

In [4]:
test100 = pd.read_csv('./data/test100.csv')
columns = ['age', 'workclass', 'education', 'marital_status', 'occupation', 'race',
       'gender', 'hours_per_week']
model_description = """ML-system that predicts wether a person will earn more than 50k $ a year"""
for prompt in ['one']:
    directory = Path(f"./experiments/{prompt}")
    # Create the directory if it does not exist
    directory.mkdir(parents=True, exist_ok=True)
    for cf in [5]:
        directory = Path(f"./experiments/{prompt}/{cf}_cfs/evals/")
        # Create the directory if it does not exist
        directory.mkdir(parents=True, exist_ok=True)
        directory = Path(f"./experiments/{prompt}/{cf}_cfs/examples/")
        # Create the directory if it does not exist
        directory.mkdir(parents=True, exist_ok=True)
        if prompt == 'ToT':
            exp_m = ToTLLMExplanation4CFs(model = model, #Load the model we want to explain
                                    model_description = """ML-system that predicts wether a person will earn more than 50k $ a year""", # brief explanation of the ML model
                                    backend='sklearn', # Framework used to build the model (used to generate counterfactuals)
                                    dataset_info=string_info(train_dataset.columns, helpers.get_adult_data_info()) , # string information about the dataset
                                    continuous_features=['age', 'hours_per_week'], # Necessary for the counterfactual generation
                                    outcome_name= 'income', #Necessary for counterfactual generation
                                    training_set=train_dataset, #Necessary for counterfactual generation
                                    test_set= test_dataset, #Necessary to  check novelty of the evaluation example
                                    llm='gpt-4o', #LLM used, works with Langchain
                                    prompt_type='one', # zero or one
                                    n_counterfactuals=cf, #Number of counterfactuals used in the explanation 
                                    user_input=False, #Human in the loop helping select the causes
                                    branches = 3
                                )
        else:
            exp_m = LLMExplanation4CFs(model = model, #Load the model we want to explain
                                    model_description = """ML-system that predicts wether a person will earn more than 50k $ a year""", # brief explanation of the ML model
                                    backend='sklearn', # Framework used to build the model (used to generate counterfactuals)
                                    dataset_info=string_info(train_dataset.columns, helpers.get_adult_data_info()) , # string information about the dataset
                                    continuous_features=['age', 'hours_per_week'], # Necessary for the counterfactual generation
                                    outcome_name= 'income', #Necessary for counterfactual generation
                                    training_set=train_dataset, #Necessary for counterfactual generation
                                    test_set= test_dataset, #Necessary to  check novelty of the evaluation example
                                    llm='gpt-4o', #LLM used, works with Langchain
                                    prompt_type=prompt, # zero or one
                                    n_counterfactuals=cf, #Number of counterfactuals used in the explanation 
                                    user_input=False #Human in the loop helping select the causes
                                )



        exp_m.fit()
        for i in range(test100.shape[0]):
            print(i)
            try:              
                example_label, n_rules, rules_followed, first_rule, second_rule,third_rule, in_dataset = exp_m.explain_evaluate(user_data = pd.DataFrame(test100.loc[i, columns]).transpose(), verbose = False, return_all=False)
                os.rename('./temp_files/temp_csv.csv', f'./experiments/{prompt}/{cf}_cfs/examples/ex_{cf}cfs_{i}.csv')
                os.rename('./temp_files/evaluation.csv', f'./experiments/{prompt}/{cf}_cfs/evals/eval_{cf}cfs_{i}.csv')            
                test100.loc[i, str(cf) + '_cfs_' + prompt + '_label'] = example_label
                test100.loc[i, str(cf) + '_cfs_' +prompt + '_rules'] = n_rules
                test100.loc[i, str(cf) + '_cfs_' +prompt + '_rules_followed'] = rules_followed
                test100.loc[i, str(cf) + '_cfs_' + prompt + '_rule_1'] = first_rule
                test100.loc[i, str(cf) + '_cfs_' + prompt + '_rule_2'] = second_rule
                test100.loc[i, str(cf) + '_cfs_' + prompt + '_rule_3'] = third_rule
                test100.loc[i, str(cf) + '_cfs_' +prompt + '_in_data'] = in_dataset
                test100.loc[i, str(cf) + '_cfs_' +prompt + '_status'] = 0
                print('success')
            except Exception as e:
                print(e)
                test100.loc[i, str(cf) + '_cfs_' +prompt + '_status'] = 1
            if i%10 == 0:
                test100.to_csv('experiments.csv', index=False)
        test100.to_csv(f'experiment_{prompt}_{cf}_cfs.csv', index=False)

0

100%|██████████| 1/1 [00:00<00:00,  1.84it/s]

success
1

100%|██████████| 1/1 [00:00<00:00,  1.79it/s]

success
2

100%|██████████| 1/1 [00:00<00:00,  1.99it/s]

success
3

100%|██████████| 1/1 [00:00<00:00,  2.04it/s]

success
4

100%|██████████| 1/1 [00:00<00:00,  1.94it/s]

success
5

100%|██████████| 1/1 [00:00<00:00,  1.97it/s]

success
6

100%|██████████| 1/1 [00:00<00:00,  2.05it/s]

success
7

100%|██████████| 1/1 [00:00<00:00,  2.08it/s]

success
8

100%|██████████| 1/1 [00:00<00:00,  1.93it/s]

success
9

100%|██████████| 1/1 [00:00<00:00,  1.90it/s]

success
10

100%|██████████| 1/1 [00:00<00:00,  1.83it/s]

success
11

100%|██████████| 1/1 [00:00<00:00,  1.62it/s]

success
12

100%|██████████| 1/1 [00:00<00:00,  1.93it/s]

success
13

100%|██████████| 1/1 [00:00<00:00,  1.90it/s]

success
14

100%|██████████| 1/1 [00:00<00:00,  1.84it/s]

success
15

100%|██████████| 1/1 [00:00<00:00,  1.84it/s]

success
16

100%|██████████| 1/1 [00:00<00:00,  1.85it/s]

success
17

100%|██████████| 1/1 [00:00<00:00,  1.83it/s]

success
18

100%|██████████| 1/1 [00:00<00:00,  1.87it/s]

success
19

100%|██████████| 1/1 [00:00<00:00,  1.73it/s]

success
20

100%|██████████| 1/1 [00:00<00:00,  1.87it/s]

success
21

100%|██████████| 1/1 [00:00<00:00,  1.66it/s]

success
22

100%|██████████| 1/1 [00:00<00:00,  1.78it/s]

success
23

100%|██████████| 1/1 [00:00<00:00,  1.87it/s]

success
24

100%|██████████| 1/1 [00:00<00:00,  1.90it/s]

success
25

100%|██████████| 1/1 [00:00<00:00,  1.81it/s]

success
26

100%|██████████| 1/1 [00:00<00:00,  1.55it/s]

success
27

100%|██████████| 1/1 [00:00<00:00,  1.91it/s]

success
28

100%|██████████| 1/1 [00:00<00:00,  1.77it/s]

success
29

100%|██████████| 1/1 [00:00<00:00,  1.36it/s]

success
30

100%|██████████| 1/1 [00:00<00:00,  1.66it/s]

success
31

100%|██████████| 1/1 [00:00<00:00,  1.53it/s]

success
32

100%|██████████| 1/1 [00:00<00:00,  2.01it/s]

success
33

100%|██████████| 1/1 [00:00<00:00,  1.81it/s]

success
34

100%|██████████| 1/1 [00:00<00:00,  1.70it/s]

success
35

100%|██████████| 1/1 [00:00<00:00,  1.86it/s]

success
36

100%|██████████| 1/1 [00:00<00:00,  1.79it/s]

success
37

100%|██████████| 1/1 [00:00<00:00,  1.72it/s]

success
38

100%|██████████| 1/1 [00:00<00:00,  1.80it/s]

success
39

100%|██████████| 1/1 [00:00<00:00,  1.83it/s]

success
40

100%|██████████| 1/1 [00:00<00:00,  1.69it/s]

success
41

100%|██████████| 1/1 [00:00<00:00,  1.76it/s]

success
42

100%|██████████| 1/1 [00:00<00:00,  1.88it/s]

success
43

100%|██████████| 1/1 [00:00<00:00,  1.56it/s]

success
44

100%|██████████| 1/1 [00:00<00:00,  1.81it/s]

success
45

100%|██████████| 1/1 [00:00<00:00,  1.58it/s]

success
46

100%|██████████| 1/1 [00:00<00:00,  1.85it/s]

success
47

100%|██████████| 1/1 [00:00<00:00,  1.61it/s]

success
48

100%|██████████| 1/1 [00:00<00:00,  1.72it/s]

success
49

100%|██████████| 1/1 [00:00<00:00,  1.66it/s]

success
50

100%|██████████| 1/1 [00:00<00:00,  1.81it/s]

success
51

100%|██████████| 1/1 [00:00<00:00,  1.75it/s]

success
52

100%|██████████| 1/1 [00:00<00:00,  1.85it/s]

success
53

100%|██████████| 1/1 [00:00<00:00,  1.86it/s]

success
54

100%|██████████| 1/1 [00:00<00:00,  1.90it/s]

success
55

100%|██████████| 1/1 [00:00<00:00,  1.84it/s]

success
56

100%|██████████| 1/1 [00:00<00:00,  1.66it/s]

success
57

100%|██████████| 1/1 [00:00<00:00,  1.83it/s]

success
58

100%|██████████| 1/1 [00:00<00:00,  1.67it/s]

success
59

100%|██████████| 1/1 [00:00<00:00,  1.72it/s]

success
60

100%|██████████| 1/1 [00:00<00:00,  1.85it/s]

success
61

100%|██████████| 1/1 [00:00<00:00,  1.74it/s]

success
62

100%|██████████| 1/1 [00:00<00:00,  1.61it/s]

success
63

100%|██████████| 1/1 [00:00<00:00,  1.77it/s]

success
64

100%|██████████| 1/1 [00:00<00:00,  1.72it/s]

success
65

100%|██████████| 1/1 [00:00<00:00,  1.85it/s]

success
66

100%|██████████| 1/1 [00:00<00:00,  1.73it/s]

success
67

100%|██████████| 1/1 [00:00<00:00,  1.88it/s]

success
68

100%|██████████| 1/1 [00:00<00:00,  1.77it/s]

success
69

100%|██████████| 1/1 [00:00<00:00,  1.65it/s]

success
70

100%|██████████| 1/1 [00:00<00:00,  1.68it/s]

success
71

100%|██████████| 1/1 [00:00<00:00,  1.83it/s]

success
72

100%|██████████| 1/1 [00:00<00:00,  1.86it/s]

success
73

100%|██████████| 1/1 [00:00<00:00,  1.82it/s]

success
74

100%|██████████| 1/1 [00:00<00:00,  1.71it/s]

success
75

100%|██████████| 1/1 [00:00<00:00,  1.86it/s]

success
76

100%|██████████| 1/1 [00:00<00:00,  1.77it/s]

success
77

100%|██████████| 1/1 [00:00<00:00,  1.56it/s]

success
78

100%|██████████| 1/1 [00:00<00:00,  1.85it/s]

success
79

100%|██████████| 1/1 [00:00<00:00,  1.73it/s]

success
80

100%|██████████| 1/1 [00:00<00:00,  1.61it/s]

success
81

100%|██████████| 1/1 [00:00<00:00,  1.76it/s]

success
82

100%|██████████| 1/1 [00:00<00:00,  1.51it/s]

success
83

100%|██████████| 1/1 [00:00<00:00,  1.80it/s]

success
84

100%|██████████| 1/1 [00:00<00:00,  1.77it/s]

success
85

100%|██████████| 1/1 [00:00<00:00,  1.83it/s]

success
86

100%|██████████| 1/1 [00:00<00:00,  1.79it/s]

success
87

100%|██████████| 1/1 [00:00<00:00,  1.87it/s]

success
88

100%|██████████| 1/1 [00:00<00:00,  1.80it/s]

success
89

100%|██████████| 1/1 [00:00<00:00,  1.74it/s]

success
90

100%|██████████| 1/1 [00:00<00:00,  1.82it/s]

success
91

100%|██████████| 1/1 [00:00<00:00,  1.74it/s]

success
92

100%|██████████| 1/1 [00:00<00:00,  1.81it/s]

success
93

100%|██████████| 1/1 [00:00<00:00,  1.85it/s]

success
94

100%|██████████| 1/1 [00:00<00:00,  1.75it/s]

success
95

100%|██████████| 1/1 [00:00<00:00,  1.85it/s]

success
96

100%|██████████| 1/1 [00:00<00:00,  1.74it/s]

success
97

100%|██████████| 1/1 [00:00<00:00,  1.72it/s]

success
98

100%|██████████| 1/1 [00:00<00:00,  1.68it/s]

success
99

100%|██████████| 1/1 [00:00<00:00,  1.48it/s]

success

In [5]:
test100

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,5_cfs_one_label,5_cfs_one_rules,5_cfs_one_rules_followed,5_cfs_one_rule_1,5_cfs_one_rule_2,5_cfs_one_rule_3,5_cfs_one_in_data,5_cfs_one_status
0,41,Private,Some-college,Divorced,Sales,White,Female,48,1.0,4.0,3.0,1.0,1.0,0.0,False,0.0
1,49,Private,HS-grad,Divorced,White-Collar,White,Male,32,1.0,4.0,4.0,1.0,1.0,1.0,False,0.0
2,34,Self-Employed,Assoc,Single,Professional,White,Female,25,1.0,3.0,3.0,1.0,1.0,1.0,False,0.0
3,46,Private,Assoc,Widowed,Service,White,Female,40,1.0,3.0,2.0,0.0,1.0,1.0,False,0.0
4,22,Private,HS-grad,Single,Service,Other,Male,30,0.0,3.0,2.0,1.0,1.0,0.0,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,35,Private,Some-college,Married,Blue-Collar,White,Male,60,1.0,3.0,3.0,1.0,1.0,1.0,False,0.0
96,29,Private,HS-grad,Single,Blue-Collar,Other,Male,40,0.0,6.0,3.0,0.0,1.0,1.0,True,0.0
97,40,Self-Employed,Some-college,Married,Service,White,Male,50,1.0,5.0,3.0,1.0,1.0,0.0,False,0.0
98,28,Other/Unknown,HS-grad,Married,Other/Unknown,White,Female,20,1.0,3.0,3.0,1.0,1.0,1.0,False,0.0
99,20,Private,Some-college,Single,Service,White,Female,40,1.0,5.0,3.0,1.0,1.0,0.0,False,0.0

In [7]:
get_metrics(test100,'one',5)

[0.79, 3.71, 0.7703333333333332, 0.15, 0.9, 0.88, 0.6868686868686869, 0.0]

In [ ]:
for i in range(10):
    example_label, n_rules, rules_followed, first_rule, second_rule,third_rule, in_dataset = exp_m.explain_evaluate(user_data = test100.loc[i, columns], verbose = False)
    os.rename('./temp_files/temp_csv.csv', f'./experiments/{prompt}/{cf}_cfs/examples/ex_{cf}cfs_{i}.csv')
    os.rename('evaluation.csv', f'./experiments/{prompt}/{cf}_cfs/evals/eval_{cf}cfs_{i}.csv')            
    test100.loc[i, str(cf) + '_cfs_' + prompt + '_label'] = example_label
    test100.loc[i, str(cf) + '_cfs_' +prompt + '_rules'] = n_rules
    test100.loc[i, str(cf) + '_cfs_' +prompt + '_rules_followed'] = rules_followed
    test100.loc[i, str(cf) + '_cfs_' + +prompt + '_rule_1'] = first_rule
    test100.loc[i, str(cf) + '_cfs_' + +prompt + '_rule_2'] = second_rule
    test100.loc[i, str(cf) + '_cfs_' + +prompt + '_rule_3'] = third_rule
    test100.loc[i, str(cf) + '_cfs_' +prompt + '_in_data'] = in_dataset
    test100.loc[i, str(cf) + '_cfs_' +prompt + '_status'] = 0

In [27]:
columns = ['age', 'workclass', 'education', 'marital_status', 'occupation', 'race',
       'gender', 'hours_per_week']
test100.loc[i, columns]

age                        35
workclass             Private
education             HS-grad
marital_status       Divorced
occupation        Blue-Collar
race                    White
gender                   Male
hours_per_week             40
Name: 9, dtype: object

In [ ]:
exp_m = ToTLLMExplanation4CFs( model, backend, model_description, dataset_info, continuous_features, outcome_name,training_set, test_set, llm = 'gpt-4o', prompt_type = 'zero', n_counterfactuals=5, branches = 3, user_input = False)

In [11]:
def get_metrics(df,prompt):
    validity = df[f'{prompt}_label'].mean()
    rules = df[f'{prompt}_rules'].mean()
    rules_ratio = np.mean(df[f'{prompt}_rules_followed']/df[f'{prompt}_rules'])
    first = df[f'{prompt}_rule_1'].mean()
    second = df[f'{prompt}_rule_2'].mean()
    third = df[f'{prompt}_rule_3'].mean()
    return [validity, rules, rules_ratio, first, second, third]
get_metrics(test10,'one')

[0.6666666666666666,
 3.111111111111111,
 0.8888888888888888,
 1.0,
 1.0,
 0.6666666666666666]

In [8]:
test10 = pd.read_csv('test10.csv')
model_description = """ML-system that predicts wether a person will earn more than 50k $ a year"""
prompts = ['one']
for prompt in prompts:
    print(prompt)
    exp_m = ExplanationMachine2(model, model_description, string_info(dataset.columns,adult_info), train_dataset, test_dataset,prompt,1 )
    exp_m.fit()
    for i in range(test10.shape[0]):
        try:
            example_label, n_rules, rules_followed, first_rule, second_rule,third_rule,in_cfs, in_dataset = exp_m.explain_evaluate(example = test.iloc[[i]], verbose = False)
            os.rename('temp_csv.csv', f'ex_1fcs_{i}.csv')
            os.rename('evaluation.csv', f'eval_1fcs_{i}.csv')
            test10.loc[i, prompt + '_label'] = example_label
            test10.loc[i, prompt + '_rules'] = n_rules
            test10.loc[i, prompt + '_rules_followed'] = rules_followed
            test10.loc[i, prompt + '_rule_1'] = first_rule
            test10.loc[i, prompt + '_rule_2'] = second_rule
            test10.loc[i, prompt + '_rule_3'] = third_rule
            test10.loc[i, prompt + '_in_cfs'] = in_cfs
            test10.loc[i, prompt + '_in_data'] = in_dataset
            test10.loc[i, prompt + '_status'] = 0
        except Exception as e:
            test10.loc[i, prompt + '_status'] = 1
test10

one

100%|██████████| 1/1 [00:00<00:00,  7.16it/s]
100%|██████████| 1/1 [00:00<00:00,  6.20it/s]
100%|██████████| 1/1 [00:00<00:00,  6.81it/s]
100%|██████████| 1/1 [00:00<00:00,  6.59it/s]
100%|██████████| 1/1 [00:00<00:00,  7.09it/s]
100%|██████████| 1/1 [00:00<00:00,  7.01it/s]
100%|██████████| 1/1 [00:00<00:00,  7.06it/s]
100%|██████████| 1/1 [00:00<00:00,  7.18it/s]
100%|██████████| 1/1 [00:00<00:00,  2.75it/s]
100%|██████████| 1/1 [00:00<00:00,  2.91it/s]

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,one_label,one_rules,one_rules_followed,one_rule_1,one_rule_2,one_rule_3,one_in_cfs,one_in_data,one_status
0,45,Self-Employed,HS-grad,Married,Blue-Collar,White,Male,50,1.0,3.0,2.0,1.0,1.0,0.0,False,False,0.0
1,46,Private,HS-grad,Divorced,Blue-Collar,White,Male,30,1.0,3.0,3.0,1.0,1.0,1.0,False,True,0.0
2,49,Private,HS-grad,Widowed,Service,White,Male,40,1.0,3.0,3.0,1.0,1.0,1.0,False,False,0.0
3,26,Government,Bachelors,Single,Professional,Other,Female,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,45,Government,Bachelors,Divorced,Service,White,Female,40,0.0,3.0,3.0,1.0,1.0,1.0,False,False,0.0
5,35,Private,Some-college,Married,Blue-Collar,White,Male,60,1.0,3.0,3.0,1.0,1.0,1.0,False,True,0.0
6,29,Private,HS-grad,Single,Blue-Collar,Other,Male,40,0.0,3.0,3.0,1.0,1.0,1.0,False,False,0.0
7,40,Self-Employed,Some-college,Married,Service,White,Male,50,1.0,3.0,1.0,1.0,0.0,0.0,False,False,0.0
8,28,Other/Unknown,HS-grad,Married,Other/Unknown,White,Female,20,1.0,3.0,2.0,1.0,1.0,0.0,True,False,0.0
9,20,Private,Some-college,Single,Service,White,Female,40,1.0,3.0,3.0,1.0,1.0,1.0,False,False,0.0

In [9]:
def get_metrics(df,prompt):
    validity = df[f'{prompt}_label'].mean()
    rules = df[f'{prompt}_rules'].mean()
    rules_ratio = np.mean(df[f'{prompt}_rules_followed']/df[f'{prompt}_rules'])
    first = df[f'{prompt}_rule_1'].mean()
    second = df[f'{prompt}_rule_2'].mean()
    third = df[f'{prompt}_rule_3'].mean()
    return [validity, rules, rules_ratio, first, second, third]
get_metrics(test10,'one')

[0.7777777777777778,
 3.0,
 0.8518518518518519,
 1.0,
 0.8888888888888888,
 0.6666666666666666]

In [4]:
import pandas as pd
prompt = input('prompt strategy (zero, one, ToT): ')
cf = int(input('n counterfactuals: '))
test100 = pd.read_csv(f'./experiments/{prompt}/{cf}_cfs/experiment_{prompt}_{cf}_cfs.csv')
test100 = test100[test100[f'{cf}_cfs_{prompt}_status']==1]
print(test100.shape[0],'experiments failed and will be retried')

4 experiments failed and will be retried

In [9]:
test10 = pd.read_csv('test10.csv')
model_description = """ML-system that predicts wether a person will earn more than 50k $ a year"""
prompts = ['one']
for prompt in prompts:
    print(prompt)
    exp_m = ExplanationMachine2(model, model_description, string_info(dataset.columns,adult_info), train_dataset, test_dataset,prompt,3 )
    exp_m.fit()
    for i in range(test10.shape[0]):
        try:
            example_label, n_rules, rules_followed, first_rule, second_rule,third_rule,in_cfs, in_dataset = exp_m.explain_evaluate(example = test.iloc[[i]], verbose = False)
            os.rename('temp_csv.csv', f'ex_3fcs_{i}.csv')
            os.rename('evaluation.csv', f'eval_3fcs_{i}.csv')
            test10.loc[i, prompt + '_label'] = example_label
            test10.loc[i, prompt + '_rules'] = n_rules
            test10.loc[i, prompt + '_rules_followed'] = rules_followed
            test10.loc[i, prompt + '_rule_1'] = first_rule
            test10.loc[i, prompt + '_rule_2'] = second_rule
            test10.loc[i, prompt + '_rule_3'] = third_rule
            test10.loc[i, prompt + '_in_cfs'] = in_cfs
            test10.loc[i, prompt + '_in_data'] = in_dataset
            test10.loc[i, prompt + '_status'] = 0
        except Exception as e:
            test10.loc[i, prompt + '_status'] = 1
            print(e)
test10

one

100%|██████████| 1/1 [00:00<00:00,  5.40it/s]
100%|██████████| 1/1 [00:00<00:00,  5.66it/s]
100%|██████████| 1/1 [00:00<00:00,  4.76it/s]

single positional indexer is out-of-bounds

100%|██████████| 1/1 [00:00<00:00,  5.80it/s]
100%|██████████| 1/1 [00:00<00:00,  5.62it/s]
100%|██████████| 1/1 [00:00<00:00,  5.45it/s]
100%|██████████| 1/1 [00:00<00:00,  5.67it/s]
100%|██████████| 1/1 [00:00<00:00,  5.82it/s]
100%|██████████| 1/1 [00:00<00:00,  4.68it/s]
100%|██████████| 1/1 [00:00<00:00,  5.43it/s]

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,one_label,one_rules,one_rules_followed,one_rule_1,one_rule_2,one_rule_3,one_in_cfs,one_in_data,one_status
0,45,Self-Employed,HS-grad,Married,Blue-Collar,White,Male,50,1.0,3.0,2.0,1.0,1.0,0.0,False,False,0.0
1,46,Private,HS-grad,Divorced,Blue-Collar,White,Male,30,1.0,3.0,2.0,1.0,1.0,0.0,False,False,0.0
2,49,Private,HS-grad,Widowed,Service,White,Male,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,26,Government,Bachelors,Single,Professional,Other,Female,40,0.0,3.0,3.0,1.0,1.0,1.0,False,False,0.0
4,45,Government,Bachelors,Divorced,Service,White,Female,40,1.0,3.0,2.0,1.0,1.0,0.0,False,False,0.0
5,35,Private,Some-college,Married,Blue-Collar,White,Male,60,1.0,3.0,1.0,1.0,0.0,0.0,False,False,0.0
6,29,Private,HS-grad,Single,Blue-Collar,Other,Male,40,1.0,3.0,3.0,1.0,1.0,1.0,False,False,0.0
7,40,Self-Employed,Some-college,Married,Service,White,Male,50,0.0,3.0,1.0,1.0,0.0,0.0,False,False,0.0
8,28,Other/Unknown,HS-grad,Married,Other/Unknown,White,Female,20,1.0,3.0,3.0,1.0,1.0,1.0,True,False,0.0
9,20,Private,Some-college,Single,Service,White,Female,40,1.0,3.0,3.0,1.0,1.0,1.0,False,False,0.0

In [11]:
def get_metrics(df,prompt):
    validity = df[f'{prompt}_label'].mean()
    rules = df[f'{prompt}_rules'].mean()
    rules_ratio = np.mean(df[f'{prompt}_rules_followed']/df[f'{prompt}_rules'])
    first = df[f'{prompt}_rule_1'].mean()
    second = df[f'{prompt}_rule_2'].mean()
    third = df[f'{prompt}_rule_3'].mean()
    return [validity, rules, rules_ratio, first, second, third]
get_metrics(test10,'one')

[0.7777777777777778,
 3.0,
 0.7407407407407407,
 1.0,
 0.7777777777777778,
 0.4444444444444444]

In [16]:
test10 = pd.read_csv('test10.csv')
model_description = """ML-system that predicts wether a person will earn more than 50k $ a year"""
prompts = ['zero']
for prompt in prompts:
    print(prompt)
    exp_m = ExplanationMachine2(model, model_description, string_info(dataset.columns,adult_info), train_dataset, test_dataset,prompt,5)
    exp_m.fit()
    for i in range(test10.shape[0]):
        try:
            example_label, n_rules, rules_followed, first_rule, second_rule,third_rule,in_cfs, in_dataset = exp_m.explain_evaluate(example = test.iloc[[i]], verbose = False)
            os.rename('temp_csv.csv', f'ex_zero_5fcs_{i}.csv')
            os.rename('evaluation.csv', f'eval_zero_5fcs_{i}.csv')
            test10.loc[i, prompt + '_label'] = example_label
            test10.loc[i, prompt + '_rules'] = n_rules
            test10.loc[i, prompt + '_rules_followed'] = rules_followed
            test10.loc[i, prompt + '_rule_1'] = first_rule
            test10.loc[i, prompt + '_rule_2'] = second_rule
            
            test10.loc[i, prompt + '_rule_3'] = third_rule
            test10.loc[i, prompt + '_in_cfs'] = in_cfs
            test10.loc[i, prompt + '_in_data'] = in_dataset
            test10.loc[i, prompt + '_status'] = 0
        except Exception as e:
            test10.loc[i, prompt + '_status'] = 1
test10

zero

100%|██████████| 1/1 [00:00<00:00,  1.85it/s]
100%|██████████| 1/1 [00:00<00:00,  1.79it/s]
100%|██████████| 1/1 [00:00<00:00,  1.81it/s]
100%|██████████| 1/1 [00:00<00:00,  1.93it/s]
100%|██████████| 1/1 [00:00<00:00,  1.71it/s]
100%|██████████| 1/1 [00:00<00:00,  1.93it/s]
100%|██████████| 1/1 [00:00<00:00,  2.02it/s]
100%|██████████| 1/1 [00:00<00:00,  1.93it/s]
100%|██████████| 1/1 [00:00<00:00,  1.66it/s]
100%|██████████| 1/1 [00:00<00:00,  1.91it/s]

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,zero_label,zero_rules,zero_rules_followed,zero_rule_1,zero_rule_2,zero_rule_3,zero_in_cfs,zero_in_data,zero_status
0,45,Self-Employed,HS-grad,Married,Blue-Collar,White,Male,50,1.0,4.0,4.0,1.0,1.0,1.0,False,False,0.0
1,46,Private,HS-grad,Divorced,Blue-Collar,White,Male,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,49,Private,HS-grad,Widowed,Service,White,Male,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,26,Government,Bachelors,Single,Professional,Other,Female,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,45,Government,Bachelors,Divorced,Service,White,Female,40,1.0,4.0,4.0,1.0,1.0,1.0,False,False,0.0
5,35,Private,Some-college,Married,Blue-Collar,White,Male,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6,29,Private,HS-grad,Single,Blue-Collar,Other,Male,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
7,40,Self-Employed,Some-college,Married,Service,White,Male,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
8,28,Other/Unknown,HS-grad,Married,Other/Unknown,White,Female,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
9,20,Private,Some-college,Single,Service,White,Female,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [17]:
def get_metrics(df,prompt):
    validity = df[f'{prompt}_label'].mean()
    rules = df[f'{prompt}_rules'].mean()
    rules_ratio = np.mean(df[f'{prompt}_rules_followed']/df[f'{prompt}_rules'])
    in_data = df[f'{prompt}_in_data'].mean()
    fail = df[f'{prompt}_status'].mean()
    first = df[f'{prompt}_rule_1'].mean()
    second = df[f'{prompt}_rule_2'].mean()
    third = df[f'{prompt}_rule_3'].mean()
    return [validity, rules, rules_ratio, in_data, first, second, third, fail]
get_metrics(test10,'zero')

[1.0, 4.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.8]

In [18]:
test10 = pd.read_csv('test10.csv')
model_description = """ML-system that predicts wether a person will earn more than 50k $ a year"""
prompts = ['zero']
for prompt in prompts:
    print(prompt)
    exp_m = ExplanationMachine2(model, model_description, string_info(dataset.columns,adult_info), train_dataset, test_dataset,prompt,3)
    exp_m.fit()
    for i in range(test10.shape[0]):
        try:
            example_label, n_rules, rules_followed, first_rule, second_rule,third_rule,in_cfs, in_dataset = exp_m.explain_evaluate(example = test.iloc[[i]], verbose = False)
            os.rename('temp_csv.csv', f'ex_zero_3fcs_{i}.csv')
            os.rename('evaluation.csv', f'eval_zero_3fcs_{i}.csv')
            test10.loc[i, prompt + '_label'] = example_label
            test10.loc[i, prompt + '_rules'] = n_rules
            test10.loc[i, prompt + '_rules_followed'] = rules_followed
            test10.loc[i, prompt + '_rule_1'] = first_rule
            test10.loc[i, prompt + '_rule_2'] = second_rule
            
            test10.loc[i, prompt + '_rule_3'] = third_rule
            test10.loc[i, prompt + '_in_cfs'] = in_cfs
            test10.loc[i, prompt + '_in_data'] = in_dataset
            test10.loc[i, prompt + '_status'] = 0
        except Exception as e:
            test10.loc[i, prompt + '_status'] = 1
test10

zero

100%|██████████| 1/1 [00:00<00:00,  2.55it/s]
100%|██████████| 1/1 [00:00<00:00,  1.64it/s]
100%|██████████| 1/1 [00:00<00:00,  1.86it/s]
100%|██████████| 1/1 [00:00<00:00,  1.98it/s]
100%|██████████| 1/1 [00:00<00:00,  1.55it/s]
100%|██████████| 1/1 [00:00<00:00,  1.86it/s]
100%|██████████| 1/1 [00:00<00:00,  1.94it/s]
100%|██████████| 1/1 [00:00<00:00,  1.88it/s]
100%|██████████| 1/1 [00:00<00:00,  1.74it/s]
100%|██████████| 1/1 [00:00<00:00,  2.15it/s]

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,zero_label,zero_rules,zero_rules_followed,zero_rule_1,zero_rule_2,zero_rule_3,zero_in_cfs,zero_in_data,zero_status
0,45,Self-Employed,HS-grad,Married,Blue-Collar,White,Male,50,1.0,5.0,2.0,1.0,0.0,1.0,False,False,0.0
1,46,Private,HS-grad,Divorced,Blue-Collar,White,Male,30,1.0,3.0,3.0,1.0,1.0,1.0,False,True,0.0
2,49,Private,HS-grad,Widowed,Service,White,Male,40,1.0,4.0,4.0,1.0,1.0,1.0,False,True,0.0
3,26,Government,Bachelors,Single,Professional,Other,Female,40,1.0,4.0,3.0,1.0,1.0,0.0,False,False,0.0
4,45,Government,Bachelors,Divorced,Service,White,Female,40,0.0,4.0,3.0,1.0,1.0,0.0,False,False,0.0
5,35,Private,Some-college,Married,Blue-Collar,White,Male,60,1.0,3.0,3.0,1.0,1.0,1.0,False,False,0.0
6,29,Private,HS-grad,Single,Blue-Collar,Other,Male,40,1.0,3.0,3.0,1.0,1.0,1.0,False,False,0.0
7,40,Self-Employed,Some-college,Married,Service,White,Male,50,1.0,4.0,3.0,1.0,1.0,1.0,False,False,0.0
8,28,Other/Unknown,HS-grad,Married,Other/Unknown,White,Female,20,1.0,4.0,4.0,1.0,1.0,1.0,False,True,0.0
9,20,Private,Some-college,Single,Service,White,Female,40,1.0,3.0,2.0,1.0,1.0,0.0,False,False,0.0

In [19]:
get_metrics(test10,'zero')

[0.9, 3.7, 0.8316666666666667, 0.3, 1.0, 0.9, 0.7, 0.0]

In [12]:
test10 = pd.read_csv('test10.csv')
model_description = """ML-system that predicts wether a person will earn more than 50k $ a year"""
prompts = ['zero']
for prompt in prompts:
    print(prompt)
    exp_m = ExplanationMachine2(model, model_description, string_info(dataset.columns,adult_info), train_dataset, test_dataset,prompt,1)
    exp_m.fit()
    for i in range(test10.shape[0]):
        try:
            example_label, n_rules, rules_followed, first_rule, second_rule,third_rule,in_cfs, in_dataset = exp_m.explain_evaluate(example = test.iloc[[i]], verbose = False)
            os.rename('temp_csv.csv', f'ex_zero_1fcs_{i}.csv')
            os.rename('evaluation.csv', f'eval_zero_1fcs_{i}.csv')
            test10.loc[i, prompt + '_label'] = example_label
            test10.loc[i, prompt + '_rules'] = n_rules
            test10.loc[i, prompt + '_rules_followed'] = rules_followed
            test10.loc[i, prompt + '_rule_1'] = first_rule
            test10.loc[i, prompt + '_rule_2'] = second_rule
            
            test10.loc[i, prompt + '_rule_3'] = third_rule
            test10.loc[i, prompt + '_in_cfs'] = in_cfs
            test10.loc[i, prompt + '_in_data'] = in_dataset
            test10.loc[i, prompt + '_status'] = 0
        except Exception as e:
            test10.loc[i, prompt + '_status'] = 1
test10

zero

100%|██████████| 1/1 [00:00<00:00,  2.94it/s]
100%|██████████| 1/1 [00:00<00:00,  2.87it/s]
100%|██████████| 1/1 [00:00<00:00,  2.75it/s]
100%|██████████| 1/1 [00:00<00:00,  2.58it/s]
100%|██████████| 1/1 [00:00<00:00,  3.12it/s]
100%|██████████| 1/1 [00:00<00:00,  2.66it/s]
100%|██████████| 1/1 [00:00<00:00,  2.67it/s]
100%|██████████| 1/1 [00:00<00:00,  2.74it/s]
100%|██████████| 1/1 [00:00<00:00,  2.65it/s]
100%|██████████| 1/1 [00:00<00:00,  2.51it/s]

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,zero_status,zero_label,zero_rules,zero_rules_followed,zero_rule_1,zero_rule_2,zero_rule_3,zero_in_cfs,zero_in_data
0,45,Self-Employed,HS-grad,Married,Blue-Collar,White,Male,50,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46,Private,HS-grad,Divorced,Blue-Collar,White,Male,30,0.0,1.0,7.0,3.0,1.0,0.0,1.0,False,True
2,49,Private,HS-grad,Widowed,Service,White,Male,40,0.0,1.0,4.0,2.0,1.0,1.0,0.0,True,False
3,26,Government,Bachelors,Single,Professional,Other,Female,40,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45,Government,Bachelors,Divorced,Service,White,Female,40,0.0,1.0,4.0,4.0,1.0,1.0,1.0,True,False
5,35,Private,Some-college,Married,Blue-Collar,White,Male,60,0.0,1.0,4.0,2.0,0.0,1.0,1.0,False,True
6,29,Private,HS-grad,Single,Blue-Collar,Other,Male,40,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,40,Self-Employed,Some-college,Married,Service,White,Male,50,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,28,Other/Unknown,HS-grad,Married,Other/Unknown,White,Female,20,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,20,Private,Some-college,Single,Service,White,Female,40,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
get_metrics(test10,'zero')

[1.0, 4.75, 0.6071428571428572, 0.5, 0.75, 0.75, 0.75, 0.6]

In [8]:
test10 = pd.read_csv('test10.csv')
model_description = """ML-system that predicts wether a person will earn more than 50k $ a year"""
prompts = ['one']
for prompt in prompts:
    print(prompt)
    exp_m = ToTExplanationMachine(model, model_description, string_info(dataset.columns,adult_info), train_dataset, test_dataset,prompt,5, 3 )
    exp_m.fit()
    for i in range(test10.shape[0]):
        try:
            example_label, n_rules, rules_followed, first_rule, second_rule, third_rule, in_dataset = exp_m.explain_evaluate(user_data = test.iloc[[i]], verbose = False)
            os.rename('temp_csv.csv', f'ex_5fcs_{i}.csv')
            os.rename('evaluation.csv', f'eval_5fcs_{i}.csv')            
            test10.loc[i, prompt + '_label'] = example_label
            test10.loc[i, prompt + '_rules'] = n_rules
            test10.loc[i, prompt + '_rules_followed'] = rules_followed
            test10.loc[i, prompt + '_rule_1'] = first_rule
            test10.loc[i, prompt + '_rule_2'] = second_rule
            test10.loc[i, prompt + '_rule_3'] = third_rule
            #test10.loc[i, prompt + '_in_cfs'] = in_cfs
            test10.loc[i, prompt + '_in_data'] = in_dataset
            test10.loc[i, prompt + '_status'] = 0
            break
        except Exception as e:
            test10.loc[i, prompt + '_status'] = 1
            print(e)
test10

one

100%|██████████| 1/1 [00:00<00:00,  4.30it/s]
100%|██████████| 1/1 [00:00<00:00,  4.75it/s]
100%|██████████| 1/1 [00:00<00:00,  4.59it/s]

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,one_label,one_rules,one_rules_followed,one_rule_1,one_rule_2,one_rule_3,one_in_data,one_status
0,45,Self-Employed,HS-grad,Married,Blue-Collar,White,Male,50,1.0,3.0,2.0,1.0,1.0,0.0,False,0.0
1,46,Private,HS-grad,Divorced,Blue-Collar,White,Male,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,49,Private,HS-grad,Widowed,Service,White,Male,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26,Government,Bachelors,Single,Professional,Other,Female,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45,Government,Bachelors,Divorced,Service,White,Female,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,35,Private,Some-college,Married,Blue-Collar,White,Male,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,29,Private,HS-grad,Single,Blue-Collar,Other,Male,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,40,Self-Employed,Some-college,Married,Service,White,Male,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,28,Other/Unknown,HS-grad,Married,Other/Unknown,White,Female,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,20,Private,Some-college,Single,Service,White,Female,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN